<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>113866306029-31a9il7n5tq9lp46cgjoo0lh5etkc9p7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.113866306029-31a9il7n5tq9lp46cgjoo0lh5etkc9p7</string>
	<key>API_KEY</key>
	<string>AIzaSyCZT9WdH0GU8i9Fa45WvAZTFk-3GTMosN0</string>
	<key>GCM_SENDER_ID</key>
	<string>113866306029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.islam.islamy</string>
	<key>PROJECT_ID</key>
	<string>islamy-34880</string>
	<key>STORAGE_BUCKET</key>
	<string>islamy-34880.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:113866306029:ios:ce185879fc6d7ff61177e4</string>
</dict>
</plist>